<div>
    <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title text-xl font-medium">
            SSL: Protocolo de seguridad para conexiones web
        </div>
        <div class="collapse-content">
            <p>SSL es un protocolo de seguridad que permite una conexión segura entre el servidor y el cliente. Es esencial para garantizar la confidencialidad y la integridad de los datos transmitidos en la web.</p>
        </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium">Nginx: Servidor web de alto rendimiento</div>
        <div class="collapse-content">
            <p>Como desarrollador web, utilizo Nginx para servir sitios web estáticos, así como para actuar como un servidor de proxy inverso y administrar subdominios con HTTPS.

                Nginx es una poderosa herramienta que me permite implementar sitios web estáticos de manera eficiente y rápida. Su capacidad para servir contenido estático de forma directa y sin procesamiento adicional garantiza un rendimiento óptimo, lo que resulta en tiempos de carga más rápidos para los usuarios.
                
                Además, como servidor de proxy inverso, Nginx actúa como un intermediario entre los clientes y los servidores de origen, lo que me permite equilibrar la carga de tráfico, mejorar la disponibilidad y garantizar la escalabilidad de los sitios web. También puedo utilizar Nginx para configurar reglas de redireccionamiento y enrutamiento personalizadas, lo que me brinda flexibilidad en la administración de las solicitudes de los usuarios.
                
                Uno de los aspectos destacados de Nginx es su capacidad para administrar subdominios con HTTPS. Puedo configurar Nginx para actuar como un servidor de terminación SSL, lo que me permite implementar y gestionar certificados SSL/TLS para cada subdominio de manera eficiente y segura. Esto garantiza la confidencialidad y la integridad de la comunicación entre los usuarios y el servidor.</p>
        </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-xl font-medium">
            Linux: El unico e inigualable
        </div>
        <div class="collapse-content">
            <p>Como desarrollador web, he adoptado Linux tanto en mi entorno de trabajo de escritorio como en el servidor bare metal en el que hospedo esta página. Esta elección se basa en los innumerables beneficios que ofrece Linux en términos de estabilidad, seguridad y flexibilidad.

                Al utilizar Linux en mi entorno de trabajo de escritorio, tengo acceso a una amplia gama de herramientas y aplicaciones de código abierto que me permiten desarrollar de manera eficiente y efectiva. Además, la robustez del sistema operativo Linux garantiza una experiencia de desarrollo fluida y confiable.
                
                En cuanto al servidor bare metal que aloja esta página, Linux es mi elección preferida debido a su capacidad para manejar cargas de trabajo intensivas y su capacidad para proporcionar un entorno de alojamiento seguro y confiable. La escalabilidad y personalización que ofrece Linux son fundamentales para adaptarse a las necesidades específicas de mis proyectos web.
                
                Además de su rendimiento y seguridad, el uso de Linux refuerza mi compromiso con la filosofía del software libre y la colaboración comunitaria. Estoy constantemente explorando nuevas herramientas y técnicas basadas en Linux para mejorar mi flujo de trabajo y brindar soluciones de vanguardia a mis clientes.
                
                En resumen, mi elección de utilizar Linux tanto en mi entorno de trabajo de escritorio como en el servidor bare metal refleja mi dedicación a la excelencia en el desarrollo web. Estoy comprometido a aprovechar al máximo las ventajas que Linux ofrece para ofrecer soluciones web sólidas, seguras y eficientes.</p>
        </div>
    </div>
</div>
