---
import Layout from "../layouts/Layout.astro";
import Counter from "./../components/Counter/Counter";
---

<Layout title="Bienvenido">
	<main>
		<h1 class="text-5xl font-bold">Astro</h1>
		<br>
		<Counter client:visible/>
	</main>
</Layout>